body {
  width: 100%;
}
#hint {
  font-size: 80px;
  text-align: center;
}
#bulb {
  margin: 0 auto;
  display: block;
  width : 80%;
  height: 80%;
}
video {
  width: 50%;
  margin: 0 auto;
  display: block;
}
