<html>
  <head>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="row notification"></div>
  <div class="row">
    <div class="queue-form col-sm-5">
      <h4>Enter the queue</h4>
      <div class="input-group">
        <input id='name-input' type="text" class="form-control" placeholder="Your name here">
        <span class="input-group-btn">
          <button id='exterminate' class="btn btn-default" type="button">Enter the queue</button>
        </span>
      </div>

    </div>
    <div class="col-sm-5 queue">
      <h4>People waiting</h4>
      <div id="queue">
        {{#each users}}
          <div id="{{this.name}}" class="well user-name">{{this.name}}</div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row">

    <h4 id='hint'>Free ! Go for it !</h4>
    <div id="bulb">
      <svg  version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="493.5px"
            height="493.5px"
            viewBox="0 0 493.5 493.5"
            style="enable-background:new 0 0 493.5 493.5;"
            xml:space="preserve">
        <g>
        <g>
        <g id="Icons_21_">
          <g>
            <path d="M157.88,178.688c2.82,0,5.689-0.484,8.481-1.5l179.999-65.242c12.943-4.687,19.626-18.975,14.938-31.91
              c-4.668-12.929-19.025-19.602-31.901-14.933l-180.005,65.245c-12.938,4.688-19.619,18.977-14.938,31.909
              C138.121,172.388,147.687,178.688,157.88,178.688z"/>
            <path d="M177.078,96.261c2.821,0,5.696-0.486,8.482-1.5l128.117-46.425c12.944-4.689,19.627-18.979,14.938-31.912
              c-4.688-12.927-19.026-19.61-31.899-14.93L168.598,47.922c-12.944,4.686-19.627,18.975-14.938,31.909
              C157.327,89.961,166.893,96.261,177.078,96.261z"/>
            <path d="M340.795,314.022H330.14l0.636-42.688l17.552-11.509c11.496-7.534,14.724-22.982,7.187-34.488
              c-7.545-11.518-22.972-14.713-34.502-7.179l-17.562,11.5c-14.503,9.52-23.165,25.562-23.165,42.918v41.446h-55.828V272.08
              c0-13.307-5.339-25.83-14.353-35.284l136.256-49.398c12.943-4.686,19.626-18.975,14.938-31.907
              c-4.668-12.938-19.025-19.587-31.901-14.932c0,0-177.757,64.358-189.922,68.942c-10.876,4.098-19.217,22.038-2.646,34.555
              c9.388,7.09,37.802,28.024,37.802,28.024v41.941h-8.807c-13.93,0-25.24,11.308-25.24,25.247v73.069
              c0,13.941,11.312,25.244,25.24,25.244h21.261v29.512c0,14.582,11.828,26.406,26.406,26.406h79.604
              c14.585,0,26.404-11.824,26.404-26.406v-29.512h21.296c13.938,0,25.24-11.303,25.24-25.244V339.27
              C366.035,325.329,354.732,314.022,340.795,314.022z"/>
          </g>
        </g>
        </g>
        </g>
      </svg>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>

  <script>
    $(document).ready(function() {

      var formSubmit = function() {
        var name = $('#name-input').val();
        if (name.length > 0) {
          $('#name-input').val('');
          $.ajax({
            url: '/queue',
            method: 'POST',
            dataType: 'JSON',
            data: {
              userName: name
            }
          });
        }
      }

      $('#exterminate').on('click', formSubmit);
      $('#name-input').on('keyup', function(event) {
        if (event.keyCode === 13) formSubmit();
      });

      var socket = io();

      socket.on('bulb-on', function(msg){
        $('svg').find('path').css('fill', 'yellow');
        $('#hint').text('Seems occupied...');
      });

      socket.on('bulb-off', function(msg){
        $('svg').find('path').css('fill', 'black');
        $('#hint').text('Free ! Go for it !');
      });

      socket.on('new-user', function(msg) {
        $("#queue").append('<div id="' + msg.userName + '" class="well user-name">' + msg.userName +'</div>');
      });

      socket.on('remove-user-from-queue', function(msg) {
        console.log('rm from queue', $("#queue .user-name#" +  msg.userName));
        $("#queue .user-name#" +  msg.userName).remove();
        $('.notification #notif-' +  msg.userName).remove();
      });

      socket.on('notify-next-user', function(msg) {
        console.log('notify');
        $('.notification').html("<div id='notif-" + msg.userName + "' class='alert alert-success'>" + msg.userName + " it's your turn to go.</div>");
      });
    });
  </script>
  <style>
    body {
      width: 100%;
    }
    #hint {
      /*font-size: 80px;*/
      text-align: center;
    }
    #bulb {
      margin: 0 auto;
      display: block;
      width : 493px;
      height: 493px;
    }
    .queue, .queue-form {
      margin: 50px;
    }
    .notification {
      margin : 20px auto;
      width: 100%;

    }
    .notification .alert {
      width: 400px;
      text-align: center;
      display: block;
      margin: 0 auto;
    }

  </style>
  </body>
</html>